.gradle
.settings
/.idea/
/.vscode/

# Build outputs
/build/
/bin/
/out/
/eclipse/
.classpath
.project

# Runtime instances and generated state
/run/
/config/
/crash-reports/
/logs/
/saves/
options.txt
usernamecache.json
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
servers.dat
usercache.json
whitelist.json
hs_err_pid*.log
replay_pid*.log

*.iml
*.ipr
*.iws
*.bat
*.DS_Store
!gradlew.bat
.factorypath
addon.local.gradle
addon.local.gradle.kts
addon.late.local.gradle
addon.late.local.gradle.kts
layout.json
/Reference/
